{% extends 'base.html' %} {% block title %} edit data {% endblock %} {% block
body %}

<h1 class="title mt-5 text-black-50 text-center">EDITAR NOTÍCIAS</h1>

<form action="{{ url_for('process_edit') }}" method="post">
  <div class="form-floating mt-3 mb-3">
    <input
      value="{{data.autor}}"
      type="text"
      name="autor"
      for="autor"
      class="form-control"
      id="autorName"
    />
    <input type="hidden" name="id" value="{{data.id}}" />
    <label for="autor">Nome do autor</label>
  </div>

  <div class="form-floating mt-3 mb-3">
    <input
      type="text"
      name="titulo"
      for="titulo"
      class="form-control"
      id="floatingInputTitulo"
      value="{{data.titulo}}"
    />
    <label for="floatingInput">Titulo da notícia</label>
  </div>

  <div class="form-floating mt-3 mb-3 was-validate">
    <textarea
      class="form-control"
      id="resumoArea"
      name="resumo"
      for="resumo"
      style="height: 80px"
    >
{{data.resumo}}</textarea
    >
    <label for="resumo">Breve resumo</label>
  </div>

  <div class="form-floating mt-3 mb-3 was-validate">
    <textarea
      class="form-control"
      id="descricaoCompleta"
      name="descricao"
      for="descricao"
      style="height: 100px"
    >
{{data.descricao}}</textarea
    >
    <label for="descricao">Descrição completa</label>
  </div>

  <div class="form-floating mb-5">
    <select
      class="form-select"
      name="categoria"
      for="categoria"
      id="categoriaSelect"
      value="{{data.categoria}}"
    >
      <option value="Tecnologia">Tecnologia</option>
      <option value="Games">Games</option>
      <option value="DesenvolvimentoWeb">Desenvolvimento Web</option>
    </select>
    <label for="categoria">Escolha uma Categoria</label>
  </div>

  <div class="form-floating mt-3 mb-3">
    <input
      type="date"
      name="date"
      for="date"
      class="form-control"
      id="dateNoticia"
      value="{{data.date}}"
    />
    <label for="date">Inserir data</label>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Inserir imagem destacada</label>
    <input
      class="form-control"
      name="image"
      for="image"
      type="file"
      id="formFile"
      value="{{data.image}}"
    />
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-success btn-sm float-end"
      name="submit"
    >
      Salvar
    </button>
    <button type="reset" class="btn btn-danger btn-sm float-end">Cancel</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary btn-sm float-end">
      Voltar
    </a>
  </div>
</form>
{% endblock %}
